<!-- <img src="../login/algo" alt=""> -->

<p>login works!</p>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<p>
Haciendo uso de la Api generada en la práctica anterior, utilizar una de las entidades y generar un ABM básico (Insert, Update, Delete, Get).
</p>
<ul>Criterios de Aceptación:
    <li>Formulario Reactivo.</li>
    <li>Validaciones.</li>
    <li>Témplate en algún framework (Bootstrap, Material, etc).</li>
    <li>Estructura del proyecto.</li>
    <li>Manejo de errores.</li>
</ul>



