@model IEnumerable<EF.Logic.DTOs.CategoriesDto>
@{
    ViewBag.Title = "Categorías";
}


<h2>Todas las Categorías</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre de la Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td></td>
        </tr>
    </tbody>
</table>